<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- 自动扫描包含控制器的包名 -->
    <context:component-scan base-package="org.reion.impl.web"/>

    <!-- 默认的注解映射的支持 -->
    <!-- 不显式配置默认了以下三个标签 -->
    <!-- RequestMappingHandlerMapping，RequestMappingHandlerAdapter，DefaultHandlerExceptionResolver -->
    <!--<mvc:annotation-driven />-->

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="interceptors">
            <list>
                <bean class="org.reion.impl.web.UserInterceptor"/>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>

    <!-- 视图模式配置 -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 拦截器 -->
    <!--<mvc:interceptors>-->
    <!--<bean class="org.reion.impl.web.UserInterceptoror" />-->
    <!--</mvc:interceptors>-->

    <!-- 总错误处理-->
    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="error"/>
        <property name="defaultStatusCode" value="500"/>
        <property name="warnLogCategory"
                  value="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"/>
    </bean>

    <!-- 对静态资源文件的访问  方案一 （二选一） -->
    <!-- 使用此标签，必须显式配置 <mvc:annotation-driven /> -->
    <!-- <mvc:default-servlet-handler/>自动注册的SimpleUrlHandlerMapping的order属性值是：2147483647 -->
    <!--<mvc:default-servlet-handler/>-->

    <!-- 对静态资源文件的访问  方案二 （二选一）-->
    <!-- <mvc:resources/ >自动注册的 SimpleUrlHandlerMapping的order属性值是： 2147483646 -->
    <mvc:resources mapping="/images/**" location="resources/images/" cache-period="31556926"/>
    <mvc:resources mapping="/js/**" location="resources/js/" cache-period="31556926"/>
    <mvc:resources mapping="/css/**" location="resources/css/" cache-period="31556926"/>
</beans>